$purple-0: #5D1873;	// Main Primary color */
$purple-1: #E1D8E4;
$purple-2: #87469C;
$purple-3: #310240;
$purple-4: #040005;

$blue-0: #2A2379;	// Main Secondary color (1) */
$blue-1: #DDDCE6;
$blue-2: #5953A4;
$blue-3: #0C0743;
$blue-4: #000005;

$red-0: #A41D33;	// Main Secondary color (2) */
$red-1: #FBEDEF;
$red-2: #DF5F73;
$red-3: #5B000E;
$red-4: #070001;