.contact {
    grid-row: content-s/content-e;
    grid-column: s/e;

    &__form {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.contact-form {
    background-color: $purple-2;
    grid-gap: 6.5px;
    & > * {
        // grid-column: 1/-1;
    }
    &__header{
        grid-column: 1/3;
        grid-row: 1/2;
        place-self: center;
    }
    &__email {
        grid-column: 1/2;
        grid-row: 2/3;

    }
    &__name {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    &__body {
        grid-column: 1/3;
        grid-row: 3/4;
        
    }
    &__submit {
        grid-column: 1/3;
        grid-row: 4/5;
    }
}