@import 'colors';
@import 'navbar';
@import 'introduction';
@import 'story';
@import 'contact';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.container {
    background-color: $blue-1;
    height: 100vh;
}
