.navbar {
    justify-content: center;
    background-color: $purple-2;
    align-items: center;
    display: flex;
    height: 56px;
    position: fixed;
    width: 100%;
    
    .navbar-links {
        display: flex;
        width: 500px;
        justify-content: space-evenly;


        .nav-link-wrapper {
            a {
                color: $blue-1;
                text-decoration: none;
                font-size: 20px;
                font-weight: 600;
                border-bottom: 1px solid transparent;
                transition: 0.5s ease-in-out;
                
                &:hover {
                    color: $blue-1;
                    border-bottom: 1px solid $blue-1;
                    transition: 0.5s ease-in-out;
                }
            }

            .nav-link-active {
                color: $blue-1;
                border-bottom: 1px solid $blue-1;
            }
        }
    }
}